body {
  font-family: 'Arial', sans-serif;
  background-color: rgb(179, 248, 250);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(145, 179, 243);
  width: 320px;
}

form {
  display: grid;
  gap: 5px;
}

h1{
  justify-content: center;
  margin: auto;
  padding: 5px;
  text-align: center;

}

label {
  display: block;
  font-weight: lighter;
  margin-bottom: 5px;
}

input, select {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

button {
  background-color: #1216e9;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid black;
  cursor: pointer;
}

#submitBtn:hover {
  background-color: #45a049;
} 
#resetBtn:hover {
  background-color: #aa0e0e;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup h2 {
  margin-top: 0;
}

.popup p {
  margin-bottom: 20px;
}

.popup button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.popup button:hover {
  background-color: #45a049;
}
